  <header id="header" class="sticky-top">
    <nav class="navbar navbar-expand-md bg-white">
        <div class="container">
            <a [routerLink]="['/materias/grado']">
              <img src="./../../assets/images/logoprincipal.png" class="navbar-brand img-fluid" style="max-width: 60px;">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto" style="gap: 10px;">
                <li class="nav-item">
                  <a class="btn button-personalizado" (click)="refreshPage()"><strong><small>Actualizar</small></strong></a>
                </li>
                <li class="nav-item">
                  <a class="btn button-personalizado" [routerLink]="['/materias/grado']"><strong><small>Volver</small></strong></a>
                </li>
                <li class="nav-item">
                  <!-- <a class="navbar-brand text-white radius-inicio" [routerLink]="['/home']">Volver</a> -->
                </li>
              </ul>
          </div>
      </div>
    </nav>
  </header>

<div class="container">
  <h1 class="display-5 font-weight-bold">¡Aquí verás tu progreso!</h1>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <div class="box-styles">
        <div class="d-flex align-items-center">
          <div class="text-center">
            <a [routerLink]="['/materias/grado/matematica/niveles']">
              <img src="./../../../../assets/images/matematicawp.webp" type="image/webp" class="img-fluids">
              </a>
            <h5 class="mb-2 font-weight-bold text-nowrap">Razonamiento Lógico</h5>
            <button class="btn btn-danger" id="resetGameButton" *ngIf="showResetButton" (click)="onResetGame()">Resetear Materia</button>
          </div>
          <div class="results-container">
            <div>
              <p>Respuestas correctas: {{ correctAnswers }}</p>
              <p>Respuestas incorrectas: {{ incorrectAnswers }}</p>
              <p>Total de preguntas que se hicieron: {{ totalQuestions }} de 20</p>
              <p>Porcentaje de respuestas correctas: {{ correctPorcentaje | number:'1.0-0' }}%</p>
              <p>Realizaste todos los niveles en: {{ formatTime(finalTimer!) }}</p>
              <div class="progress" role="progressbar" aria-label="Success" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" role="progressbar" [ngClass]="{
                  'bg-danger': correctPorcentaje < 20,
                  'bg-warning': correctPorcentaje >= 20 && correctPorcentaje < 60,
                  'bg-success': correctPorcentaje >= 60
                }" [style.width.%]="correctPorcentaje" [attr.aria-valuenow]="correctPorcentaje">
                  {{ correctPorcentaje | number:'1.0-0' }}%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-styles">
        <div class="d-flex align-items-center">
          <div class="text-center">
            <a [routerLink]="['/materias/grado/socialesciudadanas/niveles']">
              <img src="./../../../../assets/images/socialesyciudadanaswp.webp" type="image/webp" class="img-fluids">
            </a>
          <h5 class="mb-2 font-weight-bold text-nowrap">Sociales y ciudadanas</h5>
          <button class="btn btn-danger" id="resetGameButtonSociales" *ngIf="showResetButtonSociales" (click)="onResetGameSociales()">Resetear Materia</button>
      </div>
      <div class="results-container">
        <div>
          <p>Respuestas correctas: {{ correctAnswersSociales }}</p>
          <p>Respuestas incorrectas: {{ incorrectAnswersSociales }}</p>
          <p>Total de preguntas que se hicieron: {{ totalQuestionsSociales }} de 20</p>
          <p>Porcentaje de respuestas correctas: {{ correctPorcentajeSociales | number:'1.0-0' }}%</p>
          <p>Realizaste todos los niveles en: {{ formatTime(finalTimerSociales!) }}</p>
          <div class="progress" role="progressbar" aria-label="Success" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" role="progressbar" [ngClass]="{
              'bg-danger': correctPorcentajeSociales < 20,
              'bg-warning': correctPorcentajeSociales >= 20 && correctPorcentajeSociales < 60,
              'bg-success': correctPorcentajeSociales >= 60
            }" [style.width.%]="correctPorcentajeSociales" [attr.aria-valuenow]="correctPorcentajeSociales">
              {{ correctPorcentajeSociales | number:'1.0-0' }}%
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="box-styles">
        <div class="d-flex align-items-center">
          <div class="text-center">
            <a [routerLink]="['/materias/grado/lecturacritica/niveles']">
              <img src="./../../../../assets/images/lecturacriticawp.webp" type="image/webp" class="img-fluids">
            </a>
          <h5 class="mb-2 font-weight-bold text-nowrap">Lectura Crítica</h5>
          <button class="btn btn-danger" id="resetGameButtonLectura" *ngIf="showResetButtonLectura" (click)="onResetGameLectura()">Resetear Materia</button>
      </div>
      <div class="results-container">
        <div>
          <p>Respuestas correctas: {{ correctAnswersLectura }}</p>
          <p>Respuestas incorrectas: {{ incorrectAnswersLectura }}</p>
          <p>Total de preguntas que se hicieron: {{ totalQuestionsLectura }} de 20</p>
          <p>Porcentaje de respuestas correctas: {{ correctPorcentajeLectura | number:'1.0-0' }}%</p>
          <p>Realizaste todos los niveles en: {{ formatTime(finalTimerLectura!) }}</p>
          <div class="progress" role="progressbar" aria-label="Success" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" role="progressbar" [ngClass]="{
              'bg-danger': correctPorcentajeLectura < 20,
              'bg-warning': correctPorcentajeLectura >= 20 && correctPorcentajeLectura < 60,
              'bg-success': correctPorcentajeLectura >= 60
            }" [style.width.%]="correctPorcentajeLectura" [attr.aria-valuenow]="correctPorcentajeLectura">
              {{ correctPorcentajeLectura | number:'1.0-0' }}%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-styles">
    <div class="d-flex align-items-center">
      <div class="text-center">
        <a [routerLink]="['/materias/grado/ingles/niveles']">
          <img src="./../../../../assets/images/ingleswp.webp" type="image/webp" class="img-fluids">
        </a>
      <h5 class="mb-2 font-weight-bold text-nowrap">Inglés</h5>
      <button class="btn btn-danger" id="resetGameButtonIngles" *ngIf="showResetButtonIngles" (click)="onResetGameIngles()">Resetear Materia</button>
  </div>
  <div class="results-container">
    <div>
      <p>Respuestas correctas: {{ correctAnswersIngles }}</p>
      <p>Respuestas incorrectas: {{ incorrectAnswersIngles }}</p>
      <p>Total de preguntas que se hicieron: {{ totalQuestionsIngles }} de 20</p>
      <p>Porcentaje de respuestas correctas: {{ correctPorcentajeIngles | number:'1.0-0' }}%</p>
      <p>Realizaste todos los niveles en: {{ formatTime(finalTimerIngles!) }}</p>
      <div class="progress" role="progressbar" aria-label="Success" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" role="progressbar" [ngClass]="{
          'bg-danger': correctPorcentajeIngles < 20,
          'bg-warning': correctPorcentajeIngles >= 20 && correctPorcentajeIngles < 60,
          'bg-success': correctPorcentajeIngles >= 60
        }" [style.width.%]="correctPorcentajeIngles" [attr.aria-valuenow]="correctPorcentajeIngles">
          {{ correctPorcentajeIngles | number:'1.0-0' }}%
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

    <div class="col">
      <div class="box-styles">
        <div class="d-flex align-items-center">
          <div class="text-center">
            <a [routerLink]="['/materias/grado/cienciasnaturales/niveles']">
              <img src="./../../../../assets/images/cienciasnaturaleswp.webp" type="image/webp" class="img-fluids">
            </a>
          <h5 class="mb-2 font-weight-bold text-nowrap">Ciencias naturales</h5>
          <button class="btn btn-danger" id="resetGameButtonNaturales" *ngIf="showResetButtonNaturales" (click)="onResetGameNaturales()">Resetear Materia</button>
      </div>
      <div class="results-container">
        <div>
          <p>Respuestas correctas: {{ correctAnswersNaturales }}</p>
          <p>Respuestas incorrectas: {{ incorrectAnswersNaturales }}</p>
          <p>Total de preguntas que se hicieron: {{ totalQuestionsNaturales }} de 20</p>
          <p>Porcentaje de respuestas correctas: {{ correctPorcentajeNaturales | number:'1.0-0' }}%</p>
          <p>Realizaste todos los niveles en: {{ formatTime(finalTimerNaturales!) }}</p>
          <div class="progress" role="progressbar" aria-label="Success" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" role="progressbar" [ngClass]="{
              'bg-danger': correctPorcentajeNaturales < 20,
              'bg-warning': correctPorcentajeNaturales >= 20 && correctPorcentajeNaturales < 60,
              'bg-success': correctPorcentajeNaturales >= 60
            }" [style.width.%]="correctPorcentajeNaturales" [attr.aria-valuenow]="correctPorcentajeNaturales">
              {{ correctPorcentajeNaturales | number:'1.0-0' }}%
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

