.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  flex: 1;
}

.results-container {
  flex: 2;
  padding-left: 20px;
  white-space: nowrap;
}

.box-styles {
  border-radius: 20px;
  padding: 5px;
  margin-top: 1rem;
  border: 2px solid black;
  display: flex;
  align-items: center;
}

.img-fluids {
  height: auto;
  max-width: 40%;
}

.progress {
  height: 16px;
}

.progress-bar {
  line-height: 20px;
}



@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .results-container {
    padding-left: 0;
    text-align: center;
  }

  .img-fluids {

  height: auto;
  max-width: 20%;
  }

  .box-styles {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.button-personalizado {
  background-color: #415da3f5;
  color: white;
}

@media (max-width: 576px) {
  .img-fluid {
    aspect-ratio: 3 / 5;
    height: 400px;
  }
  .container-image img {
    max-width: 90%;
  }
  .caja h1 {
    font-size: 1.4rem;
  }

}
@media (max-width: 400px) {
  .caja h1 {
    font-size: 1.3rem;
  }
  .img-fluid {
    aspect-ratio: 3 / 5;
    height: 500px;
  }
  .container-image img {
    margin-top: 20px;
    max-width: 60%;
    height: auto;
  }

}
