
<header id="header" class="mb-3">
  <nav class="navbar navbar-expand-md bg-white">
      <div class="container">
          <a [routerLink]="['/materias/grado']">
              <img src="./../../../../assets/images/logoprincipal.png" class="navbar-brand img-fluid" style="max-width: 50px;">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto" style="gap: 10px;">
                  <li class="nav-item">
                      <a class="navbar-brand text-white radius-inicio" href="./../../principal/principal.html">Volver</a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/materias/grado']" class="btn button-personalizado"><strong><small>Volver</small></strong></a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="d-flex justify-content-center">
      <hr class="w-75 border-secondary m-0" />
  </div>
</header>

  <div id="inicio" class="container mt-6">
      <h1 class="display-2 font-weight-bold text-center">Sociales y ciudadanas</h1>
      <div class="row mt-5">
          <div class="col-md-6 text-center">
              <div>
                  <h3>CONTENIDO A EVALUAR DE CIENCIAS SOCIALES Y CIUDADANAS</h3>
                  <p>
                    En la prueba de Ciencias Sociales y Ciudadanas de las Pruebas Saber 11, se evalúan conocimientos y competencias en áreas temáticas como historia, geografía, filosofía, economía y política. Se busca que los estudiantes demuestren su capacidad para comprender y analizar fenómenos sociales, económicos y políticos, así como su habilidad para ejercer la ciudadanía de manera informada y crítica. Los niveles de desempeño se establecen de la siguiente manera:
                    <br>
                    <br>
                    - <strong>Nivel 1</strong>: Reconocimiento de conceptos y situaciones básicas.
                    <br>
                    - <strong>Nivel 2</strong>: Comprensión y aplicación de conceptos en contextos específicos.
                    <br>
                    - <strong>Nivel 3</strong>: Análisis e interpretación de información en situaciones complejas.
                    <br>
                    - <strong>Nivel 4</strong>: Evaluación crítica y formulación de argumentos con base en el análisis de diferentes fuentes y contextos.
                    </p>
              </div>
          </div>
          <div class="col-md-6 text-center">
              <h3>SISTEMA DE EVALUACIÓN DE CIENCIAS SOCIALES Y CIUDADANAS</h3>
              <p>
                El sistema de evaluación en Ciencias Sociales y Ciudadanas es una parte esencial de las evaluaciones. Esta prueba, compuesta por <strong>50 preguntas</strong> de selección múltiple con única respuesta, tiene como objetivo evaluar tres competencias clave: el Pensamiento Social, que desafía a los evaluados a aplicar su capacidad de análisis en situaciones políticas y económicas; la Interpretación y Análisis de Perspectivas, que busca evaluar la comprensión de diversos puntos de vista en temas sociales y ciudadanos; y el Pensamiento Reflexivo y Sistémico, que requiere reflexionar sobre problemas sociales y comprender su complejidad desde una perspectiva sistémica. Basada en una taxonomía de conceptos de las ciencias sociales, esta prueba se centra en evaluar conceptos relacionados con fenómenos sociales, distribuyendo las preguntas de acuerdo con las competencias y los conceptos fundamentales.
              </p>
              </div>
      </div>
  </div>

  <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-md-4 col-sm-12 text-center">
              <img src="./../../../../assets/images/socialesyciudadanas.png" class="img-fluid" style="max-width: 20vh;">
              <div class="mt-2">
                  <a [routerLink]="['/materias/grado/socialesciudadanas/niveles']">
                      <button class="btn button-personalizado mb-3"><strong>INICIAR</strong></button>
                  </a>
              </div>
          </div>
      </div>
  </div>

