
<header id="header" class="mb-3">
  <nav class="navbar navbar-expand-md bg-white">
      <div class="container">
          <a [routerLink]="['/materias/grado']">
              <img src="./../../../../assets/images/logoprincipal.png" class="navbar-brand img-fluid" style="max-width: 50px;">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto" style="gap: 10px;">
                  <li class="nav-item">
                      <a class="navbar-brand text-white radius-inicio" href="./../../principal/principal.html">Volver</a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/materias/grado']" class="btn button-personalizado"><strong><small>Volver</small></strong></a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="d-flex justify-content-center">
      <hr class="w-75 border-secondary m-0" />
  </div>
</header>

  <div id="inicio" class="container mt-6">
    <div class="mt-2 text-center">
      <h1 class="display-2 font-weight-bold text-center">Inglés</h1>
      <a [routerLink]="['/materias/grado/ingles/niveles']">
            <button class="btn button-personalizado mb-3"><strong>INICIAR</strong></button>
        </a>
    </div>
      <div class="row mt-5">
          <div class="col-md-6 text-center">
              <div>
                <h3 class="strong text-center text-md-left">CONTENIDO A EVALUAR</h3>
                  <p class="letra-custom text-custom">La Prueba Saber 11 de Inglés evalúa la competencia comunicativa en inglés de los estudiantes, centrándose en habilidades de lectura y uso del lenguaje. Diseñada para clasificar a los estudiantes según el Marco Común Europeo de Referencia para las Lenguas (MCER), los contenidos evaluados abarcan comprensión de lectura, gramática y léxico. La prueba consta de 55 preguntas divididas en varias secciones que evalúan la capacidad del estudiante para comprender textos y conversaciones en inglés. Los niveles de desempeño en la prueba de Inglés se alinean con el MCER y se clasifican en cinco niveles:
                    <br>
                    <br>
                    - <strong>A-</strong>: Demostración de manejo de vocabulario y estructuras gramaticales básicas.
                    <br>
                    - <strong>A1</strong>: Capacidad para comprender enunciados simples y cotidianos; uso de lenguaje básico en situaciones comunicativas simples.
                    <br>
                    - <strong>A2</strong>: Comprensión de información específica en textos informativos y descriptivos sencillos; identificación de vocabulario simple en textos cortos.
                    <br>
                    - <strong>B1</strong>: Dominio de vocabulario y estructuras del lenguaje para inferir y comprender un rango más amplio de textos; comprensión de temas generales y específicos en diversos ámbitos.
                    <br>
                    - <strong>B+</strong>:  Habilidad para abordar preguntas de mayor complejidad en la prueba; comprensión de textos y discursos sobre temáticas abstractas y capacidad de comunicarse de manera espontánea en diferentes contextos.
                  </p>
              </div>
          </div>
          <div class="col-md-6 text-center">
            <h3 class="strong text-center text-md-left">SISTEMA DE EVALUACIÓN DE INGLÉS</h3>
              <p class="letra-custom text-custom">
                El sistema de evaluación de inglés en las Pruebas Saber 11 se basa en criterios estandarizados que miden la habilidad de los estudiantes para entender y usar el inglés en contextos académicos y cotidianos. Los resultados se informan de acuerdo con los niveles del MCER, proporcionando una medida del progreso y la competencia lingüística de los estudiantes en inglés. Este sistema asegura que la evaluación sea justa y coherente, permitiendo comparar el rendimiento entre distintos grupos de estudiantes.
                <br>
                <br>
                En cuanto al sistema de evaluación de la prueba de Inglés, esta se estructura en varias partes que evalúan habilidades específicas del idioma. La prueba está diseñada para medir la competencia comunicativa en inglés de los estudiantes, enfocándose principalmente en la comprensión lectora. Los resultados se informan de acuerdo con los niveles del Marco Común Europeo de Referencia para las Lenguas (MCER), lo que permite una clasificación internacionalmente reconocida de las habilidades lingüísticas. Además, la prueba incluye <strong>55 preguntas</strong> que abarcan diferentes aspectos del idioma, como la gramática y el vocabulario.
              </p>
              </div>
      </div>
  </div>

