/* GOTOPBUTTON */
.go-top-container {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background-color: #2071b2;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  transition: .2s;
}

.deslizar {
  z-index: 10;
}

.deslizar .go-top-button {
  margin-left: 120px;
  animation: popup .3s ease-in-out;
  width: 3.3rem;
  height: 3.3rem;
  z-index: 11;
}
.deslizar i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
      width: 0rem;
      height: 0rem;
  }
  50% {
      width: 1.5rem;
      height: 1.5rem;
  }
  100% {
      width: 3.3rem;
      height: 3.3rem;
  }
}

.pointer {
  cursor: pointer;
}
