
<header id="header">
  <nav class="navbar navbar-expand-md bg-white">
      <div class="container">
          <a [routerLink]="['/']">
              <img src="./../../assets/images/logoprincipal.png" class="navbar-brand img-fluid" style="max-width: 60px;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto" style="gap: 10px;">
                <li class="nav-item">
                  <a class="btn btn-warning" [routerLink]="['/materias']"><strong><small>Volver</small></strong></a>
                </li>
                <li class="nav-item">
                  <!-- <a class="navbar-brand text-white radius-inicio" [routerLink]="['/home']">Volver</a> -->
                </li>
              </ul>
          </div>
      </div>
  </nav>
</header>

<div class="container">
  <h1 class="display-5 font-weight-bold">¡Aquí verás tu progreso!</h1>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <div class="box-styles">
        <div class="d-flex align-items-center">
          <div class="text-center">
            <a [routerLink]="['/materias/matematica/niveles/nivel']">
              <img src="./../../../../assets/images/matematica.png" class="img-fluids">
            </a>
          </div>
          <div class="results-container">
            <h3 class="mb-2 font-weight-bold">Razonamiento Lógico</h3>
            <div>
              <p>Respuestas correctas: {{ correctAnswers }}</p>
              <p>Respuestas incorrectas: {{ incorrectAnswers }}</p>
              <p>Total de preguntas que se hicieron: {{ totalQuestions }} de 20</p>
              <p>Porcentaje de respuestas correctas: {{ correctPorcentaje | number:'1.0-0' }}%</p>
              <div class="progress" role="progressbar" aria-label="Success" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="correctPorcentaje" [attr.aria-valuenow]="correctPorcentaje">{{ correctPorcentaje | number:'1.0-0' }}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box-styles">
        <div class="d-flex align-items-center">
          <div class="text-center">
            <a href="./../materias/matematica/matematica.html">
              <img src="./../../../../assets/images/lecturacritica.png" class="img-fluids">
            </a>
          </div>
          <div class="ml-4 results-container">
            <h3 class="mb-2 font-weight-bold">Lectura Critica</h3>
            <div>
              <p>Respuestas correctas: {{ correctAnswers }}</p>
              <p>Respuestas incorrectas: {{ incorrectAnswers }}</p>
              <p>Total de preguntas que se hicieron: {{ totalQuestions }} de 20</p>
              <p>Porcentaje de respuestas correctas: {{ correctPorcentaje | number:'1.0-0' }}%</p>
              <div class="progress" role="progressbar" aria-label="Success" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="correctPorcentaje" [attr.aria-valuenow]="correctPorcentaje">{{ correctPorcentaje | number:'1.0-0' }}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box-styles">
        <div class="d-flex align-items-center">
          <div class="text-center">
            <a href="./../materias/matematica/matematica.html">
              <img src="./../../../../assets/images/socialesyciudadanas.png" class="img-fluids">
            </a>
          </div>
          <div class="ml-4 results-container">
            <h3 class="mb-2 font-weight-bold">Sociales y ciudadanas</h3>
            <div>
              <p>Respuestas correctas: {{ correctAnswers }}</p>
              <p>Respuestas incorrectas: {{ incorrectAnswers }}</p>
              <p>Total de preguntas que se hicieron: {{ totalQuestions }} de 20</p>
              <p>Porcentaje de respuestas correctas: {{ correctPorcentaje | number:'1.0-0' }}%</p>
              <div class="progress" role="progressbar" aria-label="Success" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="correctPorcentaje" [attr.aria-valuenow]="correctPorcentaje">{{ correctPorcentaje | number:'1.0-0' }}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box-styles">
        <div class="d-flex align-items-center">
          <div class="text-center">
            <a href="./../materias/matematica/matematica.html">
              <img src="./../../../../assets/images/cienciasnaturales.png" class="img-fluids">
            </a>
          </div>
          <div class="ml-4 results-container">
            <h3 class="mb-2 font-weight-bold">Ciencias naturales</h3>
            <div>
              <p>Respuestas correctas: {{ correctAnswers }}</p>
              <p>Respuestas incorrectas: {{ incorrectAnswers }}</p>
              <p>Total de preguntas que se hicieron: {{ totalQuestions }} de 20</p>
              <p>Porcentaje de respuestas correctas: {{ correctPorcentaje | number:'1.0-0' }}%</p>
              <div class="progress" role="progressbar" aria-label="Success" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="correctPorcentaje" [attr.aria-valuenow]="correctPorcentaje">{{ correctPorcentaje | number:'1.0-0' }}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="box-styles">
        <div class="d-flex align-items-center">
          <div class="text-center">
            <a href="./../materias/matematica/matematica.html">
              <img src="./../../../../assets/images/ingles.png" class="img-fluids">
            </a>
          </div>
          <div class="ml-4 results-container">
            <h3 class="mb-2 font-weight-bold">Ingles</h3>
            <div>
              <p>Respuestas correctas: {{ correctAnswers }}</p>
              <p>Respuestas incorrectas: {{ incorrectAnswers }}</p>
              <p>Total de preguntas que se hicieron: {{ totalQuestions }} de 20</p>
              <p>Porcentaje de respuestas correctas: {{ correctPorcentaje | number:'1.0-0' }}%</p>
              <div class="progress" role="progressbar" aria-label="Success" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="correctPorcentaje" [attr.aria-valuenow]="correctPorcentaje">{{ correctPorcentaje | number:'1.0-0' }}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
