
<header id="header" class="mb-3">
  <nav class="navbar navbar-expand-md bg-white">
      <div class="container">
          <a [routerLink]="['/materias/iniciar']">
              <img src="./../../../../assets/images/logoprincipal.png" class="navbar-brand img-fluid" style="max-width: 50px;">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto" style="gap: 10px;">
                  <li class="nav-item">
                      <a class="navbar-brand text-white radius-inicio" href="./../../principal/principal.html">Volver</a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/materias/iniciar']" class="btn btn-warning"><strong><small>Volver</small></strong></a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="d-flex justify-content-center">
      <hr class="w-75 border-secondary m-0" />
  </div>
</header>

  <div id="inicio" class="container mt-6">
    <div class="mt-2 text-center">
        <h1 class="display-2 font-weight-bold text-center">Lectura Critica</h1>
        <a [routerLink]="['/materias/iniciar/lecturacritica/niveles']">
            <button class="btn btn-warning mb-3"><strong>INICIAR</strong></button>
        </a>
    </div>
      <div class="row mt-5">
          <div class="col-md-6 text-center">
              <div>
                <h3 class="strong text-center text-md-left">CONTENIDO A EVALUAR DE LECTURA CRÍTICA</h3>
                  <p class="letra-custom text-custom">La lectura crítica se evalúa como parte del módulo de Lenguaje, específicamente en la subprueba de Lectura Crítica. Esta sección mide competencias relacionadas con la habilidad para leer de manera crítica, comprender estructuras formales de textos y analizar información implícita y explícita. La prueba busca evaluar no solo la comprensión literal, sino también la capacidad de análisis, interpretación y evaluación de la información presentada en una variedad de formatos. Es fundamental para el desarrollo de habilidades críticas en la lectura y la interpretación de textos en contextos académicos y cotidianos. Estos son los niveles de desempeño de lectura crítica:
                    <br>
                    <br>
                    - <strong>Nivel 1</strong>: En este nivel, el evaluado identifica elementos literales en textos continuos y discontinuos sin establecer relaciones de significado. Reconoce información explícita y la relaciona con el contexto. Además, puede identificar la estructura de textos y fenómenos semánticos básicos como sinónimos y antónimos.
                    <br>
                    - <strong>Nivel 2</strong>: Además de lo descrito en el nivel 1, el evaluado interpreta información de textos al inferir contenidos implícitos y reconocer estructuras, estrategias discursivas y juicios valorativos. Relaciona marcadores textuales y analiza y sintetiza la información contenida en un texto.
                    <br>
                    - <strong>Nivel 3</strong>: Además de lo descrito en los niveles 1 y 2, el evaluado comprende la estructura formal de un texto y la función de sus partes. Entiende el significado de expresiones relacionales en un texto, como conectores y marcadores.
                    <br>
                    - <strong>Nivel 4</strong>: En este nivel, además de lo descrito en los niveles anteriores, el evaluado reflexiona a partir de un texto sobre la visión de mundo del autor, considerando costumbres, creencias, juicios, carácter ideológico-político y posturas éticas. También valora y contrasta elementos paratextuales presentes en el texto.
                  </p>
              </div>
          </div>
          <div class="col-md-6 text-center">
            <h3 class="strong text-center text-md-left">SISTEMA DE EVALUACIÓN DE LECTURA CRÍTICA</h3>
              <p class="letra-custom text-custom">
                El sistema de evaluación de la prueba de lectura crítica en las pruebas Saber 11 se enfoca en evaluar la competencia lectora de los estudiantes a través de preguntas de selección múltiple con única respuesta. La prueba evalúa tres competencias principales:
              </p>
              <ol class="letra-custom text-custom">
                <li><strong>Identificar y comprender</strong> el significado de las partes que conforman un texto, como frases, palabras y expresiones.</li>
                <li><strong>Comprender cómo se enlazan las partes</strong>de un texto para darle un sentido global.</li>
                <li><strong>Analizar y evaluar el contenido del texto</strong>, así como la intención y el contexto en el que se produce.</li>
              </ol>
              <p  class="letra-custom text-custom">La prueba consta de <strong>41 preguntas</strong> y utiliza dos tipos de textos para evaluar estas competencias. Además, el diseño de la prueba propone una serie de pasos que permiten desagregar y generar un puente entre lo que se quiere evaluar (las competencias) y las tareas que debería desarrollar un estudiante para dar cuenta de ello.
              </p>
              </div>
      </div>
  </div>

