
<header id="header" class="mb-3">
  <nav class="navbar navbar-expand-md bg-white">
      <div class="container">
          <a [routerLink]="['/materias/grado']">
              <img src="./../../../../assets/images/logoprincipal.png" class="navbar-brand img-fluid" style="max-width: 50px;">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto" style="gap: 10px;">
                  <li class="nav-item">
                      <a class="navbar-brand text-white radius-inicio " href="./../../principal/principal.html">Volver</a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/materias/grado']" class="btn button-personalizado"><strong><small>Volver</small></strong></a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="d-flex justify-content-center">
      <hr class="w-75 border-secondary m-0" />
  </div>
</header>

  <div id="inicio" class="container mt-6">
    <div class="mt-2 text-center">
        <h1 class="display-2 font-weight-bold text-center">Ciencias Naturales</h1>
        <a [routerLink]="['/materias/grado/cienciasnaturales/niveles']">
            <button class="btn button-personalizado mb-3"><strong>INICIAR</strong></button>
        </a>
    </div>
      <div class="row mt-5">
          <div class="col-md-6 text-center">
              <div>
                <h3 class="strong text-center text-md-left">CONTENIDO A EVALUAR</h3>
                <p class="letra-custom text-custom">En la Prueba Saber 11 de Ciencias Naturales, se evalúan habilidades que capacitan a los estudiantes para comprender y explicar fenómenos naturales y del entorno físico, utilizando conceptos, patrones y teorías científicas. Los contenidos comprenden temas biológicos, físicos, químicos y de ciencia, tecnología y sociedad, con el propósito de medir la capacidad comprensiva del conocimiento, la explicación de fenómenos y la capacidad de investigación. Los niveles de desempeño se dividen en cuatro categorías, desde el nivel 1, que implica el reconocimiento de información explícita y simple, hasta el nivel 4, que requiere la aplicación de conceptos, leyes y teorías científicas para resolver situaciones problema complejas.
                    <br>
                    <br>
                    Los niveles de desempeño en la prueba de Ciencias Naturales de las Pruebas Saber 11 se clasifican en cuatro categorías:
                    <br>
                    <br>
                    - <strong>Nivel 1</strong>: Reconoce información explícita y simple, como datos en tablas o gráficas con lenguaje cotidiano.
                    <br>
                    - <strong>Nivel 2</strong>: Identifica patrones y características a partir de información en textos, gráficas y tablas; relaciona esquemas con nociones básicas del conocimiento científico.
                    <br>
                    - <strong>Nivel 3</strong>: Interrelaciona conceptos, leyes y teorías científicas con información en contextos que involucran dos o más variables; establece relaciones de causa-efecto y plantea hipótesis basadas en evidencias.
                    <br>
                    - <strong>Nivel 4</strong>: Usa conceptos, teorías o leyes en la solución de situaciones problema complejas; plantea preguntas de investigación y resuelve situaciones problema con conocimientos de ciencias naturales.
                    </p>
              </div>
          </div>
          <div class="col-md-6 text-center">
            <h3 class="strong text-center text-md-left">SISTEMA DE EVALUACIÓN DE CIENCIAS NATURALES</h3>
              <p class="letra-custom text-custom">
                Ciencias Naturales consta de <strong>58 preguntas</strong> de selección múltiple con única respuesta. Estas preguntas evalúan competencias relacionadas con el uso comprensivo del conocimiento científico, la explicación de fenómenos y la indagación. Los contenidos abarcan temáticas biológicas, físicas, químicas y de ciencia, tecnología y sociedad. ¡Buena suerte en tu preparación! 🌿🔬
                <br>
                <br>
                El sistema de evaluación de la prueba de Ciencias Naturales en las Pruebas Saber 11 incluye una serie de preguntas que evalúan competencias en el uso comprensivo del conocimiento, la explicación de fenómenos y la indagación científica. La prueba se compone de preguntas sobre temáticas biológicas, físicas, químicas y de ciencia, tecnología y sociedad. La distribución de preguntas se realiza de acuerdo con las competencias y los componentes evaluados, y se presenta en una tabla de especificaciones que detalla la cantidad de preguntas por competencia y componente.
              </p>
              </div>
      </div>
  </div>

