
$max-width: 1600px;
$primary: #FFFFFF;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $primary;
}

body {
  margin: 0 auto;
  height: 100dvh;
  font-family: "Inter", sans-serif;
  color-scheme: light dark;
  padding: 1em;
  max-width: $max-width;


  // desactivar copia de textos
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
