
<header id="header" class="mb-3">
  <nav class="navbar navbar-expand-md bg-white">
      <div class="container">
          <a [routerLink]="['/']">
              <img src="./../../../../assets/images/logoprincipal.png" class="navbar-brand img-fluid" style="max-width: 50px;">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto" style="gap: 10px;">
                  <li class="nav-item">
                      <a class="navbar-brand text-white radius-inicio" href="./../../principal/principal.html">Volver</a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/materias']" class="btn btn-warning"><strong><small>Volver</small></strong></a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="d-flex justify-content-center">
      <hr class="w-75 border-secondary m-0" />
  </div>
</header>

  <div id="inicio" class="container mt-6">
      <h1 class="display-2 font-weight-bold text-center">Razonamiento logico</h1>
      <div class="row mt-5">
          <div class="col-md-6 text-center">
              <div>
                  <h3>CONTENIDO A EVALUAR DE RAZONAMIENTO LÓGICO</h3>
                  <p>El razonamiento lógico se evalúa como parte del módulo de Matemáticas, específicamente en la subprueba de Razonamiento Cuantitativo. Esta sección evalúa habilidades fundamentales como la capacidad de argumentación, la destreza para plantear y resolver problemas, y la comprensión de estructuras lógicas y matemáticas. Los niveles de desempeño abarcan desde el reconocimiento de procedimientos y conceptos básicos hasta la aplicación de conocimientos en contextos complejos y la resolución de problemas que demandan un alto nivel de abstracción y razonamiento. Aunque la prueba no asigna explícitamente un nivel a cada pregunta, se presentan aleatoriamente cuestiones que cubren los siguientes niveles de desempeño:
                    <br>
                    <br>
                    - <strong>Nivel 1</strong>: Reconocimiento de procedimientos y conceptos básicos.
                    <br>
                    - <strong>Nivel 2</strong>: Aplicación de conocimientos en contextos simples.
                    <br>
                    - <strong>Nivel 3</strong>: Resolución de problemas en contextos de mediana complejidad.
                    <br>
                    - <strong>Nivel 4</strong>: Aplicación de conocimientos en contextos complejos y resolución de problemas que requieren un alto nivel de abstracción y razonamiento.
                    </p>
              </div>
          </div>
          <div class="col-md-6 text-center">
              <h3>SISTEMA DE EVALUACIÓN DE RAZONAMIENTO LÓGICO</h3>
              <p>
                El sistema de evaluación de la prueba de razonamiento lógico en las pruebas Saber 11, con más de <strong>50 preguntas</strong>, se centra en evaluar la capacidad de los estudiantes para aplicar principios lógicos y matemáticos en la resolución de problemas. La prueba de razonamiento cuantitativo, que forma parte del módulo de Matemáticas, incluye preguntas diseñadas para medir competencias como:
              </p>
              <ol>
                <li><strong>Comprensión de conceptos</strong>: Entender y aplicar conceptos matemáticos y lógicos básicos.</li>
                <li><strong>Análisis de información</strong>: Interpretar y analizar datos presentados en diversas formas.</li>
                <li><strong>Razonamiento deductivo e inductivo</strong>: Inferir hechos y deducir conclusiones a partir de la información dada.</li>
                <li><strong>Resolución de problemas</strong>: Aplicar el razonamiento lógico para resolver problemas matemáticos y situacionales.</li>
              </ol>

              <p>La prueba consta de preguntas de selección múltiple con única respuesta y está diseñada para evaluar diferentes niveles de complejidad, desde lo más básico hasta lo más avanzado. Además, se utilizan contextos variados para asegurar que las preguntas sean representativas de situaciones reales y relevantes para los estudiantes.
              </p>
              </div>
      </div>
  </div>

  <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-md-4 col-sm-12 text-center">
              <img src="./../../../../assets/images/matematica.png" class="img-fluid" style="max-width: 20vh;">
              <div class="mt-2">
                  <a [routerLink]="['/materias/matematica/niveles']">
                      <button class="btn btn-warning"><strong>INICIAR</strong></button>
                  </a>
              </div>
          </div>
      </div>
  </div>

